numpy
nltk
Tensorflow
django>=4.0
djangorestframework
django-cors-headers
python-dotenv
dj-database-url
psycopg2-binary
whitenoise
reportlab
channels
daphne
channels-redis
lightgbm
scikit-learn
pypdf
python-docx
Pillow
pytesseract
